.intro 
  .container
    .intro__wrapper
      .intro__images(data-speed="10")
        .intro__images-main
          img(src="images/intro/main.png", alt="Коробка с макаронс")
        .intro__images-macarons.js-img
          img(src="images/intro/macarons.png", alt="Макаронс")
        .intro__images-almonds.js-img
          img(src="images/intro/almonds.png", alt="Миндаль")
        .intro__images-mint.js-img
          img(src="images/intro/mint.png", alt="Мята")
      .intro__info
        .intro__info-since
          img(src="images/intro/since.png", alt="С 2013 года")
        .intro__info-title Настоящая любовь
        .intro__info-text Пирожные макарон и другие десерты #[br] из натуральных ингредиентов, приготовленные с любовью
        .intro__image-mob
          img(src="images/intro/main-mob.png", alt="")