- let pictures = [{main: "images/product-card/main.jpg", class: "--active"}, {main: "images/product-card/main.jpg"}, {main: "images/product-card/main.jpg"}];
- let flavors = [{name: "Яблоко", quant: "4 шт."}, {name: "Вишня", quant: "12 шт."}, {name: "Кокос", quant: "8 шт."}]; 
- let details = [{img: "images/product-card/1.png", text: "Доставка от <u>400 руб.</u> в день заказа с 12 до 17 или с 17 до 21. <br><u>Бесплатно</u> при заказе на сумму от 2000 руб"}, {img: "images/product-card/2.png", text: "Самовывоз <u>бесплатно.</u><br>Через 3 часа после оплаты заказа"}, {img: "images/product-card/3.png", text: "Можем преподнести как анонимный подарок:)"}];

.product-card
  .product-card__pictures 
    .product-card__pictures-main
      each pic in pictures
        img.js-main(src= pic.main, alt="Коробка макаронс", class= pic.class)
    .product-card__pictures-thumbs
      each pic in pictures
        .product-card__pictures-thumb.js-thumb(class= pic.class)
          img(src= pic.main, alt="Коробка макаронс")
  .product-card__order 
    .product-card__order-title.title Сердце
    .product-card__order-text-container
      .product-card__order-text 40 макаронс в круглой коробке с персональной надписью
    .product-card__order-options 
      .product-card__order-tastes.title.--small.js-accordion-switch Вкусы:
        img(src="images/icons/accordion.svg", alt="").product-card__order-arrow
      .product-card__order-list.js-accordion-list 
        each flavor in flavors
          .product-card__order-option  
            .product-card__order-flavor= flavor.name 
            .product-card__order-quantity= flavor.quant
      .product-card__order-mobile.title.--small.js-accordion-switch Состав и пищевая ценность
        img(src="images/icons/accordion.svg", alt="").product-card__order-mobile-arrow
      .product-card__order-mobile-list.js-accordion-list Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, pariatur!
      .product-card__order-mobile.--noborder.title.--small.js-accordion-switch Условия и срок хранения
        img(src="images/icons/accordion.svg", alt="").product-card__order-mobile-arrow
      .product-card__order-mobile-list.js-accordion-list Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non velit voluptatibus est odio?
    .product-card__order-cart 
      .product-card__order-price-wrapper 
        .product-card__order-price 2800 руб
      a(href="").product-card__order-add.button.--pink В корзину
        img(src="images/product-card/cart.png", alt="")
    .product-card__order-details 
      each detail in details
        .product-card__order-detail  
          img(src= detail.img, alt="")
          .product-card__order-info !{detail.text}