* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: ProximaNova;
  font-size: 14px;
  line-height: 17px;
  color: $base-color;
  background: $gray-light;
  &.--lock {
    overflow: hidden;
  }

  @include phone {
    font-size: 10px;
    line-height: 15px;
  }
}

a {
  color: $base-color;
}

u {
  text-decoration: none;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: $base-color;
    opacity: .3;
    bottom: 1px;
    left: 0px;
  }
}

input {
  border: 1px solid $gray;
  &::placeholder {
    color: $gray-dark;
  }
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  @include small-desktop {
    max-width: 900px;
  }
  @include tablet {
    max-width: 600px;
  }
  @include phone {
    max-width: 320px;
  }
}
